{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Панель управления</h1>
</div>
<div class="row g-4">
    <div class="col-lg-3 col-md-6">
        <div class="card text-white bg-primary h-100">
            <div class="card-body">
                <h5 class="card-title">{{ stats.total_products }}</h5>
                <p class="card-text">Товаров на Prom.ua</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card text-white bg-success h-100">
            <div class="card-body">
                <h5 class="card-title">{{ stats.products_in_stock }}</h5>
                <p class="card-text">В наличии</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card text-white bg-info h-100">
            <div class="card-body">
                <h5 class="card-title">{{ stats.supplier_count }}</h5>
                <p class="card-text">Поставщиков</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card text-white bg-warning h-100">
            <div class="card-body">
                <h5 class="card-title">{{ stats.new_products_count }}</h5>
                <p class="card-text">Новых товаров</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}